NEXT_PUBLIC_APP_URL=http://localhost:3004
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
CATALOG_READ_SOURCE=database
DELIVERY_PRICING_MODE=cdek_threshold
DELIVERY_FLAT_AMOUNT_RUB=
CDEK_FREE_DELIVERY_THRESHOLD_RUB=10000
CDEK_BELOW_THRESHOLD_DELIVERY_RUB=500
CDEK_API_BASE_URL=https://api.cdek.ru/v2
CDEK_CLIENT_ID=
CDEK_CLIENT_SECRET=
CDEK_WIDGET_YANDEX_MAPS_API_KEY=
CDEK_ORIGIN_CITY_CODE=
CDEK_PICKUP_TARIFF_CODE=
CDEK_COURIER_TARIFF_CODE=
CDEK_DEFAULT_PACKAGE_WEIGHT_GRAMS=
CDEK_DEFAULT_PACKAGE_LENGTH_CM=
CDEK_DEFAULT_PACKAGE_WIDTH_CM=
CDEK_DEFAULT_PACKAGE_HEIGHT_CM=
CDEK_WEBHOOK_TOKEN=
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_API_BASE_URL=https://api.yookassa.ru/v3
YOOKASSA_WEBHOOK_BASIC_AUTH_USER=
YOOKASSA_WEBHOOK_BASIC_AUTH_PASSWORD=
YOOKASSA_RECEIPTS_ENABLED=false
YOOKASSA_RECEIPT_TAX_SYSTEM_CODE=
YOOKASSA_RECEIPT_VAT_CODE=
YOOKASSA_RECEIPT_PAYMENT_SUBJECT=
YOOKASSA_RECEIPT_PAYMENT_MODE=
