NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CATALOG_READ_SOURCE=database
DELIVERY_PRICING_MODE=cdek_threshold
DELIVERY_FLAT_AMOUNT_RUB=
CDEK_FREE_DELIVERY_THRESHOLD_RUB=10000
CDEK_BELOW_THRESHOLD_DELIVERY_RUB=500
CDEK_API_BASE_URL=https://api.cdek.ru/v2
CDEK_CLIENT_ID=
CDEK_CLIENT_SECRET=
CDEK_ACCOUNT=
CDEK_SECURE_PASSWORD=
CDEK_FROM_LOCATION_CODE=
CDEK_DEFAULT_TARIFF_CODE=
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_API_BASE_URL=https://api.yookassa.ru/v3
YOOKASSA_WEBHOOK_BASIC_AUTH_USER=
YOOKASSA_WEBHOOK_BASIC_AUTH_PASSWORD=
YOOKASSA_RECEIPTS_ENABLED=false
